div.wrapper {
  border: 1px dashed black;
}

div {
  border: 1px solid black;
  margin: 5px;
}

header{
  border: 1px solid black;
  margin: 5px;
}

nav{
  border: 1px solid black;
  margin: 5px;
}

div.map {
  display: inline-block;
  width: 48%;
  border: 1px solid green;
  height: 400px;
  clear;
}

div.appList {
  display: inline-block;
  width: 48%;
  height: 400px;
  border: 1px solid blue;
}


