<!DOCTYPE HTML>
<html>
  <body>
    <div class="queryBar">
      <form>
        <fieldset>
        <legend>Find Common Ground</legend>
        <label for="search_term">Search for:</label>
          <input class="inputText" type="text" ng-model="query.search_term" placeholder="Restaurants, bars, food...">
          <label for="price">Price:</label>
          <select ng-init="query.price='1'" ng-model="query.price">
            <option value = 1>$</option>
            <option value = 2>$$</option>
            <option value = 3>$$$</option>
            <option value = 4>$$$$</option>
          </select>
          <label for="rating">Rating:</label>
          <select ng-init="query.rating='1'" ng-model="query.rating">
            <option value = 1>1 star</option>
            <option value = 2>2 stars</option>
            <option value = 3>3 stars</option>
            <option value = 4>4 stars</option>
            <option value = 5>5 stars</option>
          </select>
          <label for="open_now">Open now</label>
          <input ng-init="query.open_now = true" type="checkbox" ng-model="query.open_now" checked='checked' value = true>
        </fieldset>
        
        <fieldset>
          <legend>Travel Options</legend>
          <label for="travel_mode">Travel Mode:</label>
          <select ng-init="query.travel_mode='driving'" ng-model="query.travel_mode">
            <option value="driving">Driving</option>
            <option value="transit">Public Transit</option>
            <option value="bicycling">Bicycling</option>
            <option value="walking">Walking</option>
          </select>
          <label for="travel_time">Max Travel Time:</label>
          <input class="inputText" type="number" min="0" placeholder="0" ng-model="query.travel_time">
        </fieldset>
        <button type="button" class="submitQuery" ng-click="query.getresults.call(null, query.search_term, query.price, query.rating, query.open_now, query.travel_mode, query.travel_time)">Find Places!</button> 
        </form>
    </div>
  </body>
</html>