<div class="row">
  <div class="col-md-4 navHeader pull-left">
    <h1>Common Ground</h1>
    <h4>Find convenient places to meet, save everyone time</h4>
  </div>
  <div class="col-md-6 navInput pull-right">
    <form novalidate class="form-inline">
      <div class="form-group form-group-sm">
        <label for="userNav.username">Username:</label>
        <input class="form-control" type="text" ng-model="userNav.username" />
      </div>
      <div class="form-group form-group-sm">
        <label>Password:</label>
        <input class="form-control" type="text" ng-model="userNav.password" />
      </div>
      <div class="form-group form-group-sm">
      <div class="form-group">
        <button class="btn btn-default" type="button" ng-click="userNav.signUp()">Sign up</button>
        <button class="btn btn-default" type="button" ng-click="userNav.logIn()"/>Log in</button>
        <button class="btn btn-default" type="button" ng-click="userNav.logOut()"/>Log Out</button>
      </div>
        <div style="color: red" ng-if="userNav.displayMessage">Incorrect Login Info</div>
        <div style="color: red" ng-if="userNav.displaySignupMessage">Username already exists</div>
    </form>
  </div>
